.sign-in {
  width: 450px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .sign-in {
    width: 100%;

    .buttons {
      width: 100%;

      .custom-button {
        min-width: unset;
        padding: 0 15px;
      }
    }
  }
}
